body {
    margin: 0 auto;
    width: 60%;
    font-family: 'Cantarell', sans-serif;
}
header {
    font-family: 'Economica', sans-serif;
    font-size: 100px;
    margin: 5px;
}
#board {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    align-items: center;
}
.boardField {
    height: 50px;
    width: 50px;
    background-color:lightblue;
    color: white;
    font-weight: bold;
    align-content: center;
    float: left;
    font-size: 30px;
    margin: 5px;
}
#errors {
    height: 80px;
    clear: both;
}
#points {
    height: 10px;
    color: black;
}
#error-message {
    height: 20px;
    color: #FF9494;
}
#used-letters {
    height: 10px;
    color: black;
}
#new-game {
    margin: 10px;
    text-align: center;
}
#answer {
    padding-top: 15px;
    text-align: center;
}
input[type=text] {
    width: 70%;
    padding: 5px 5px;
    margin: 3px 0;
    border: 2px solid gainsboro;
    border-radius: 4px;
}
input[type=button] {
    color: gray;
    background-color: gainsboro;
    width: 20%;
    padding: 5px 5px;
    margin: 3px 0;
    border: 2px solid gainsboro;
    border-radius: 4px; 
}
input[type=button]:hover {
    background-color: rgba(220, 220, 220, 0.598);
}

/* mobile version */
@media only screen and (max-width: 800px) {
    body {
        width: 95%;
    }
    header {
        text-align: center;
    }
    .boardField {
        width: 40px;
        height: 40px;
        margin: 2px;
    }
    input[type=text] {
        width: 60%;
    }
    input[type=button] {
        width: 30%; 
    }
    #errors {
        height: 100px;
    }
    #error-message {
        height: 40px;
    }
}